/* GENERAL */


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,700&display=swap');

:root {
    --primary-color: #FFB703;
    --secondary-color: #042332;
    --orange: #FB8500;
    --blue: #77aac2;
    --dark-blue: #1F5375;
    --white: #DEDEE6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

h2 {
    font-size: 5rem;
    color: var(--secondary-color);
}

p {
    font-size: 1.8rem;
    color: var(--blue);
}
/* NAV */


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 0 100px;
    width: 100vw;
    height: 70px;
    background-color: var(--secondary-color);
    color: var(--white);
}

.nav p {
    color: white;
    font-size: 2.5rem;
    cursor: pointer;
    transition: ease-in-out 1s;
}

.nav p:hover {
    transition: ease-in-out 1s;
    transform: scale(1.1);
}

.nav p span {
    color: var(--primary-color);
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    color: var(--white);
    margin-left: 25px;
    font-size: 1.5rem;
    transition: ease-in-out 1s;
}

.nav ul li a:hover {
    font-size: 1.7rem;
    transform: scale(0.5);
    transition: ease-in-out 1s;
    color: var(--primary-color);
}


/* HERO */


.hero {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: fit-content;
    background-image: url(./assets/hero-bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 80px;
}

.hero h2 {
    font-size: 2.5rem;
}

.hero p {
    font-size: 1.2rem;
    color: var(--secondary-color);
}

.hero .hero-form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: fit-content;
    height: fit-content;
    margin-right: 100px;
    background-color: var(--primary-color);
    border: 3px solid var(--secondary-color);
    border-radius: 25px;
    font-size: 1.2rem;
    color: var(--secondary-color);
}

.hero-form_container form {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    margin-top: 20px;
}

.hero-form_container form input {
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    height: 22px;
}

.no-flex {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.no-flex p {
    margin-top: 5px;
    margin-bottom: 10px;
}

.hero-form_container button {
    width: 50%;
    height: 33px;
    margin: 0 auto;
    border-radius: 15px;
    border: none;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    cursor: pointer;
    transition: ease-in-out 1s;
}

.hero-form_container button:hover {
    transition: ease-in-out 1s;
    transform: scale(1.2);
}

/* WHAT WE DO SECTION */

#what-we-do-section {
    width: 100vw;
    height: fit-content;
    margin: 0 auto;
    padding: 80px;
    text-align: center;
}

#what-we-do-section h2 {
    display: inline-block;
    padding: 0 80px 30px 80px;
    margin: 50px;
    border-bottom: 3px solid var(--primary-color);

}

/* WHAT YOU DO SECTION */

#what-you-do-section {
    width: 100vw;
    height: fit-content;
    margin: 0 auto;
    padding: 80px;
    text-align: center;
    background-color: var(--primary-color);
}

#what-you-do-section h2 {
    display: inline-block;
    padding: 0 80px 30px 80px;
    padding-bottom: 30px;
    margin: 50px;
    border-bottom: 3px solid var(--secondary-color);
}

#what-you-do-section div {
    margin: 80px 0 80px 0;
}

#what-you-do-section div p {
    color: var(--blue);
    text-align: center;
}

#what-you-do-section img {
    width: 15%;
}

#what-you-do-section h3 {
    font-size: 3.5rem;
    color: var(--dark-blue);
}

/* MEET THE TRAINERS SECTION */

#your-trainers-section {
    width: 100vw;
    height: fit-content;
    margin: 0 auto;
    padding: 80px;
    text-align: center;
}

#your-trainers-section h2 {
    display: inline-block;
    padding: 0 80px 30px 80px;
    padding-bottom: 30px;
    margin: 50px;
    border-bottom: 3px solid var(--primary-color);
}

.trainer {
    display: flex;
    text-align: center;
    width: 70vw;
    height: fit-content;
    margin: 0 auto 30px auto;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.trainer_rightImg {
    flex-direction: row-reverse;
}

#txt-align-end{
    text-align: end;
}

.trainer h3,h4,p {
    color: var(--primary-color);
    text-align: start;
}

.trainer-bio h3 {
    font-size: 3.3rem;
}

.trainer-bio h4 {
    font-size: 2.5rem;
    font-weight: 200;
    margin-bottom: 20px;
}

.trainer img {
    width: 30%;
    background-size: cover;
}

.trainer-bio {
    padding: 50px;
}


/* REACH OUT SECTION */

#reach-out-section {
    width: 100vw;
    height: fit-content;
    margin: 0 auto;
    padding: 80px;
    text-align: center;
    background-color: var(--secondary-color);
}

#reach-out-section  p, address {
    color: white;
    font-size: 2rem;
}

#reach-out-section h2 {
    display: inline-block;
    padding: 0 80px 30px 80px;
    padding-bottom: 30px;
    margin: 50px;
    border-bottom: 3px solid var(--blue);
    color: var(--primary-color);
}

.contact-info {
    display: flex;
    justify-content: space-around;
    text-align: start;
}

.contact-info_txt h3 {
    font-size: 4rem;
    color: var(--primary-color);
    margin-bottom: 20px;
}
.contact-info_txt a {
    color: var(--primary-color);
}


/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px;
    width: 100vw;
    height: fit-content;
    background-color: var(--primary-color);
}

.footer-txt p{
    color: var(--secondary-color);
    font-size: 3rem;
}

.footer-policy {
    text-align: center;
    font-size: 1.5rem;
}

.footer-policy a {
    color: var(--secondary-color);
}

.footer-policy p {
    color: var(--blue);
}